In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1': ['A', 'C', 'B', 'D', 'B', 'A'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3] })

In [3]:
df

  col1  col2  col3
0    A     2     0
1    C     1     1
2    B     9     9
3    D     8     4
4    B     7     2
5    A     4     3

In [4]:
df = df.sort_values(by=['col1'], ascending=False)

In [5]:
df

  col1  col2  col3
3    D     8     4
1    C     1     1
2    B     9     9
4    B     7     2
0    A     2     0
5    A     4     3

In [32]:
lst = df.col1.unique()
lst[:3]

array(['D', 'C', 'B'], dtype=object)

In [34]:
max_rank = df.loc[df.col1 == 'B'].iloc[0]
max_rank

col1    B
col2    9
col3    9
Name: 2, dtype: object