In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1': ['A', 'C', 'B', 'D', 'B', 'A'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3] })

In [3]:
df

  col1  col2  col3
0    A     2     0
1    C     1     1
2    B     9     9
3    D     8     4
4    B     7     2
5    A     4     3

In [9]:
df = df.sort_values(by=['col1'], ascending=False)

In [10]:
df

  col1  col2  col3
3    D     8     4
1    C     1     1
2    B     9     9
4    B     7     2
0    A     2     0
5    A     4     3

In [16]:
lst = [e for e in df.col1 if e not in lst]
lst = lst[:2]
lst

['D', 'C']

In [27]:
max_rank = df.iloc[df.col1 == 'A' and df.col2.idxmax()]
max_rank

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().